
.imagem {
    width: 95%;
    margin-top: 10px;
    border-radius: 9px;
}
body {
    background-color: rgb(34, 32, 32);
}
.texto{
    color: white;
    text-align: left;
    margin-left: 13px;
}

.secao4-div-1{
    display: inline-block;
    width: 15%;
    margin: 10px;
    padding: 20px;
    margin-top: 110px;
    transition: all .5s ease;
    z-index: 0;
    justify-content: center;
  height: 20%;
  background-color: #183356;
  border-radius: 9px;
}
.secao4-div-1:hover{
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 2px 2px 16px 0px rgb(255, 255, 255);
    cursor: pointer;
}
